<div class="page-header">
	<h1>Create your playlist</h1>
	<p class="lead">Search videos and play the playlist.</p>
</div>

<div ng-controller="YoutubeCtrl">

	<div class="container-fluid">
	  <div class="row">
		<form class="form-horizontal" role="form" ng-submit="addTodo()">
		  <div class="form-group">
		    <div class="col-sm-10">
		      <input type="text" ng-model="todoText" class="form-control" placeholder="Enter your search. Ex.: beyonce">
		    </div>
		    <div class="col-sm-2">
				<button type="submit" class="btn btn-default">Search</button>
		    </div>
		  </div>
		</form>
	  </div>
	</div>
      
	<div class="container-fluid result hide">
	  <div class="row">
			<span>{{selected()}} selected of {{todos.length}} videos</span> [ <a href="" ng-click="clear()">Delete Selected videos</a> ]
      <ul class="unstyled playlist">
        <li ng-repeat="todo in todos">
          <input type="checkbox" ng-model="todo.done">
          <span class="done-{{todo.done}}">
	          <a class="fancybox fancybox.iframe" href="http://www.youtube.com/embed/{{todo.id}}?enablejsapi=1&wmode=opaque">{{todo.title}}</a>
          </span>
        </li>
      </ul>
      <button type="button" class="btn runplaylist btn-default">Play all</button>
		</div>
	</div>
	
</div>

<div id="loading" class="hide">
  <img id="loading-image" src="img/ajax-loader.gif" alt="Loading..." />
</div>
