<!DOCTYPE html>
<html ng-app lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
	<title><%= @title.nil? ? APP_CONFIG['site_name'] : @title %></title>
	
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	
	<%= stylesheet_link_tag("/js/fancybox/jquery.fancybox.css") %>
	<%= stylesheet_link_tag("/css/main.css") %>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	
	<script src="http://www.youtube.com/player_api"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
	
	<!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  	<![endif]-->
	
</head>
<body>

	<header>
		<%= render :partial => "layouts/menu" %>
	</header>
	
	<div id="main" role="main" class="container">
		<%= yield %>
	</div>
	
	<footer>
		<%= render :partial => "layouts/footer" %>
	</footer>
	
	<%= javascript_include_tag("/js/fancybox/jquery.fancybox.js") %>
	<%= javascript_include_tag("/js/main.js") %>
</body>
</html>
